{{ if eq .chezmoi.os "linux" }}
#!/bin/bash

# exit on error
set -e

# Exibir distribuição do sistema operacional
echo -e "\nDistro $(lsb_release -ds) of system $(uname -m)"

echo -e "\nAPT Update"
# Atualizar lista de pacotes
sudo apt update

echo -e "\nAPT Upgrade"
sudo apt upgrade -y

echo -e "\nAPT Install Basics"
# Instalar pacotes basicos do Linux
sudo apt install -y \
    ansible \
    bat \
    bc \
    curl \
    docker \
    docker-compose \
    flatpak \
    gcc \
    git \
    gpg \
    grep \
    htop \
    ipcalc \
    jq \
    less \
    pwgen \
    ripgrep \
    sed \
    snap \
    tar \
    telnet \
    tmux \
    traceroute \
    tree \
    ufw \
    unzip \
    vim \
    xclip \
    zip \
    zoxide \
    zsh

# Instalar pacotes comuns para Ubuntu e Linux Mint
RELEASE=$(lsb_release -is)
if [[ $(lsb_release -is) == "Ubuntu" || $(lsb_release -is) == "Linuxmint" ]]; then
  echo -e "\nAPT Install More on $RELEASE"
  sudo apt install -y \
      awscli \
      btop \
      flameshot \
      google-cloud-cli \
      google-cloud-sdk-gke-gcloud-auth-plugin \
      google-cloud-sdk-terraform-tools \
      gparted \
      graphviz \
      taskwarrior \
      terminator \
      zsh-syntax-highlighting

  echo -e "\nAPT Install Snap Packages on $RELEASE"
  # Instalar pacotes SNAP
  sudo snap install brave
  sudo snap install canonical-livepatch 
  sudo snap install chezmoi 
  sudo snap install code 
  sudo snap install docker 
  sudo snap install go 
  sudo snap install google-cloud-sdk 
  sudo snap install helm 
  sudo snap install postman 
  sudo snap install rpi-imager 
  sudo snap install spotify 
  sudo snap install sublime-text 
  sudo snap install telegram-desktop 
  sudo snap install zoom-client

  echo -e "\nAPT Install Snap Beta Packages on $RELEASE"
  # Instalar pacotes SNAP com opções --beta --classic
  sudo snap install --classic --beta nvim

  echo -e "\nAPT Install Flatpak Packages on $RELEASE"
  # Instalar pacotes Flatpak
  sudo flatpak install --system --noninteractive flathub \
      org.videolan.VLC \
      com.stremio.Stremio
else
  echo "This is a $RELEASE release. Skipping some packages"

fi

sudo apt autoclean

{{ end }}