#!/bin/bash
{{ if eq .chezmoi.os "linux" }}
set -eufo pipefail

# Exibir distribuição do sistema operacional
echo -e "\n\033[0;32m>>>>> Distro $(lsb_release -ds) of system $(uname -m) <<<<<\033[0m"

# List definitions

# List of ppa repositories to add
repositories=(
)

# List of basic packages to install
basic_packages=(
ansible
bat
bc
curl
docker
docker-compose
flatpak
gcc
git
gpg
grep
htop
ipcalc
jq
less
pwgen
ripgrep
sed
snap
tar
telnet
tmux
traceroute
tree
ufw
unzip
vim
xclip
zip
zoxide
zsh
)

# List of packages to install
other_packages=(
awscli
btop
flameshot
google-cloud-cli
google-cloud-sdk-gke-gcloud-auth-plugin
google-cloud-sdk-terraform-tools
gparted
graphviz
taskwarrior
terminator
)

# List of snap packages to install
snaps=(
brave
canonical-livepatch 
chezmoi 
code 
docker 
go 
google-cloud-sdk 
helm 
nvim --classic --beta 
postman 
rpi-imager 
spotify 
sublime-text 
telegram-desktop 
zoom-client
)

# Add Repositories
for repository in ${repositories[@]}; do
  ppa_repo_source=${repository#ppa:}
  if ! $(apt-cache policy | grep http | awk '{print $2}' | sort -u | grep $ppa_repo_source &> /dev/null); then
    echo "adding $repository repository to apt"
{{ if ne .chezmoi.username "root" -}}
    sudo add-apt-repository -y $repository
{{ else -}}
    add-apt-repository -y $repository
{{ end -}}
    echo "false"
  fi
done

echo -e "\nAPT Update"
# Atualizar lista de pacotes
sudo apt update

echo -e "\nAPT Upgrade"
sudo apt upgrade -y

echo -e "\nAPT Install Basics"

for package in ${basic_packages[@]}; do
  if ! $(dpkg-query -W -f='installed' $package &> /dev/null); then
    echo "installing $package"
{{ if ne .chezmoi.username "root" -}}
    sudo apt install -y $package
{{ else -}}
    apt install -y ${basic_packages[@]}
{{ end -}}
  fi
done

# TODO
# # renovate: depName=wez/wezterm datasource=github-releases
# current_wezterm_version=20240203-110809-5046fc22

# if [ ! $(command -v wezterm) ] || [ $(wezterm -V | head -n1 | cut -d" " -f2) != "$current_wezterm_version" ]; then
#   echo "installing / upgrading wezterm"
#   curl -Lo /tmp/wezterm https://github.com/wez/wezterm/releases/download/"$current_wezterm_version"/WezTerm-"$current_wezterm_version"-Ubuntu20.04.AppImage
#   chmod +x /tmp/wezterm
#   mv /tmp/wezterm {{ .chezmoi.homeDir }}/.local/bin/wezterm
# fi

# Instalar pacotes comuns para Ubuntu e Linux Mint
RELEASE=$(lsb_release -is)
if [[ $(lsb_release -is) == "Ubuntu" || $(lsb_release -is) == "Linuxmint" ]]; then
  echo -e "\nAPT Install More on $RELEASE"

  for package in ${other_packages[@]}; do
    if ! $(dpkg-query -W -f='installed' $package &> /dev/null); then
      echo "installing $package"
  {{ if ne .chezmoi.username "root" -}}
      sudo apt install -y $package
  {{ else -}}
      apt install -y ${other_packages[@]}
  {{ end -}}
    fi
  done

  {{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
  for snap in ${snaps[@]}; do
    echo "installing $snap using snap"
  {{   if ne .chezmoi.username "root" -}}
    sudo snap install $snap
  {{   else -}}
    snap install $snap
  {{   end -}}
  done
  {{ end -}}

  echo -e "\nAPT Install Flatpak Packages on $RELEASE"
  # Instalar pacotes Flatpak
  sudo flatpak install --system --noninteractive flathub \
      org.videolan.VLC \
      com.stremio.Stremio
else
  echo "This is a $RELEASE release. Skipping some packages"
fi

sudo apt autoclean

echo -e "\033[0;32m>>>>> Finish Setting Up Ubuntu Packages <<<<<\033[0m"

{{ end -}}