#!/bin/bash
set -eufo pipefail

# p10k.zsh hash: {{ include "./.chezmoitemplates/p10k.zsh" | sha256sum }}

echo -e "\nCopying the p10k internal file for vault"
cp "$(chezmoi source-path)/.chezmoitemplates/p10k.zsh" "$HOME/.local/share/powerlevel10k/internal/p10k.zsh"

echo -e "\nChanging chsh to zsh"
# Check if zsh is default
if [ "$SHELL" != "/bin/zsh" ]; then
  # validate if zsh is installed
  if which zsh > /dev/null 2>&1; then
    # change for zsh
    chsh -s $(which zsh)
    echo "Shell changed to ZSH"
  else 
    echo "ZSH NOT INSTALLED!"
  fi
else
  echo "ZSH is already default"
fi