# -*- mode:yaml; tab-with=2; indent-tabs-mode=0; -*-
# vim:ft=tmpl

# ~/.local/share/chezmoi/.chezmoi.yaml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/

{{ $email    := promptStringOnce . "email" "Email Pessoal"   }}
{{ $emailLxP := promptStringOnce . "emailLxP" "Email Pessoal"   }}
{{ $pgp      := promptBoolOnce   . "pgp"   "Does it use PGP" }}

data:
  email: {{ $email | quote }}
  username: "Rodolfo Labiapari Mansur, MSc. @rodolfolabiapari"
  usePgp: {{ $pgp | quote }}
  signkey: 3A0990FAE12D319E

  # LxP
  usernameLxp: "Rodolfo Labiapari Mansur Guimarães"
  emailLxp: {{ $emailLxp | quote }}

format: yaml

gpg:
  symmetric: true

merge:
  command: nvim
  args:
    - -d
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Source }}" }}"
    - "{{ "{{ .Target }}" }}"

git:
  autoAdd: true

