# -*- mode:gitignore-*-
# vim:ft=gitignore

# ~/.local/share/chezmoi/.gitignore
# =============================================================================
# Used by Git to determine the files and directories to ignore in this project.
#
# This list of globs defines repository-specific exclusions.
# See https://git-scm.com/docs/gitignore

.DS_Store
*.gz
dot_vim_runtime
node_modules
my_buffer

# Sensible files
private_dot_config/cointop/config.toml

# Tmux
private_dot_config/tmux/plugins/

