# -*- mode:toml; tab-with=2; indent-tabs-mode=0; -*-
# vim:ft=toml

# User configuration
[user]
  email = {{ .email | quote }}
  name = {{ .username | quote }}

{{- if (eq .chezmoi.username "fo097044") }}
  # Sign commits with SSH key for specific user
  signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub

[gpg]
  format = ssh
{{- else }}
  # Specify the signing key for GPG
  signingkey = {{ .signkey | quote }}

# Configure the GPG program to use
[gpg]
  program = gpg
{{- end }}

# Core Git configuration
[core]
  # Store global exclusions into a custom file
  excludesfile = ~/.gitignore_global
  # Set editor to nvim
  editor = nvim
  pager = less
  preloadindex = true

{{- if not (and (eq .chezmoi.arch "arm64") (eq .chezmoi.os "linux") ) }}
[commit]
  # Enable commit signing by default
  gpgsign = true
{{- end }}

[credential]
  # Store credentials to not ask everytime
  helper = store

# Merge settings
[merge]
  # Include summaries of merged commits in newly created merge commit messages
  conflictstyle = merge
  log = false
  ff = true

# Push settings
[push]
  # Push changes to the current branch by default
  default = current
  autoSetupRemote = true

# Pull settings
[pull]
  # Disable rebase for pull
  rebase = false

# Rebase settings
[rebase]
  # Automatically stash changes before rebasing
  autoStash = true

# Fetch settings
[fetch]
  # Remove any remote-tracking references that no longer exist on the remote
  prune = true

# Help settings
[help]
  # Enable autocorrection for mistyped commands
  autocorrect = 1

# Include external configuration files
[include]
  # Include Git aliases configuration
  path = .gitconfig_aliases
  # Include any additional Git configuration
  path = .gitconfig_local

# Default branch name for new repositories
[init]
  defaultBranch = master

# Git diff wrapper with vimdiff
# Config for using with git_diff_wrapper
[diff]
  external = git_diff_wrapper

# Diff tool configuration
[difftool]
  # Allow aborting all diffs with `:cq` or `:cquit`
  trustExitCode = true

# Pager configuration for diff
[pager]
  diff =

# Color UI settings
[color]
  ui = auto

# Configuracao para Acessar o Source Repository do Google Cloud Platform
[http]
  cookiefile = ~/.gitcookies

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all
