[user]
  email = {{ .email | quote }}
  name = {{ .username | quote }}
{{ if (eq .chezmoi.username "fo097044") }}
  signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub
[gpg]
  format = ssh
{{ else }}
  signingkey = {{ .signkey | quote }}
[gpg]
  program = gpg
{{ end }}
[core]
  # Store global exclusions into a custom file.
  excludesfile = ~/.gitignore_global
  editor = nvim
# TODO Configure commit sign to rasp
{{ if not (and (eq .chezmoi.arch "arm") (eq .chezmoi.os "linux") ) }}
[commit]
  gpgsign = true
{{ end }}
[pull]
  rebase = true
[merge]
  default = recursive
  # Include summaries of merged commits in newly created merge commit messages.
  log = true
[push]
  default = current
[rebase]
  autoStash = true
[fetch]
  # Remove any remote-tracking references that no longer exist on the remote.
  prune = true
[help]
    # Correct and execute mistyped commands.
    autocorrect = 1
[include]
  # Include aliases.
  path = .gitconfig_aliases

  # Include extra configuration (if any).
  path = .gitconfig_local
[init]
  defaultBranch = master

## Delta
#A syntax-highlighting pager for git, diff, and grep output
# https://github.com/dandavison/delta
[core]
    # Set diff always as paging
    pager = delta --paging always

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
