#!/bin/bash

# exit on error
set -e

brew_not_exists() {
  if [ -x "/usr/local/Homebrew/bin/brew" ]; then
    echo "\"/usr/local/Homebrew/bin/brew\" exist"
    return 1
  elif [ -e "/opt/Homebrew/bin/brew" ]; then
    echo "\"/opt/Homebrew/bin/brew\" exist"
    return 1
  else
    echo "Brew does not exist"
    return 0
  fi
  return 0
}

install_brew_on_mac() {
  echo "Installing Brew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
}


{{ if eq .chezmoi.os "linux" -}}
# Exibir distribuição do sistema operacional
echo "Distribuição $(lsb_release -ds) do sistema $(uname -m)"

# Atualizar lista de pacotes
sudo apt update

# Instalar pacotes básicos do Linux
sudo apt install -y \
    ansible \
    bat \
    bc \
    curl \
    docker \
    docker-compose \
    flatpak \
    gcc \
    git \
    gpg \
    grep \
    htop \
    ipcalc \
    jq \
    less \
    pwgen \
    ripgrep \
    sed \
    snapd \
    tar \
    telnet \
    tmux \
    traceroute \
    tree \
    ufw \
    unzip \
    vim \
    xclip \
    zip \
    zoxide \
    zsh

# Instalar pacotes comuns para Ubuntu e Linux Mint
if [[ $(lsb_release -is) == "Ubuntu" || $(lsb_release -is) == "LinuxMint" ]]; then
    sudo apt install -y \
        awscli \
        btop \
        flameshot \
        google-cloud-cli \
        google-cloud-sdk-gke-gcloud-auth-plugin \
        google-cloud-sdk-terraform-tools \
        gparted \
        graphviz \
        taskwarrior \
        terminator \
        zsh-syntax-highlighting

    # Instalar pacotes SNAP
    sudo snap install --classic \
        brave \
        canonical-livepatch \
        chezmoi \
        code \
        docker \
        go \
        google-cloud-sdk \
        helm \
        postman \
        rpi-imager \
        spotify \
        sublime-text \
        telegram-desktop \
        zoom-client

    # Instalar pacotes SNAP com opções --beta --classic
    sudo snap install --classic --beta nvim

    # Instalar pacotes Flatpak
    sudo flatpak install --system --noninteractive flathub \
        org.videolan.VLC \
        com.stremio.Stremio
fi

{{ else if eq .chezmoi.os "darwin" -}}

# Se algo dentro dessa pasta tiver alteracao, altera ese arquivo
# e consequentemente roda esse codigo novamente
# .bootstrap/macock/Brewfile-clean hash: {{ include "dot_bootstrap/macock/Brewfile-clean" | sha256sum }}
# .bootstrap/macock/Brewfile-full  hash: {{ include "dot_bootstrap/macock/Brewfile-full" | sha256sum }}

echo -e "\nChecking Brew Instalation"

if brew_not_exists ; then
  install_brew_on_mac
else
  echo -e "Skipping Brew Installation"
fi

echo -e "\nInstalling Brew bundle package"
brew bundle --file="$HOME/.local/share/chezmoi/dot_bootstrap/macock/Brewfile-clean"
echo -e "Brew Bundle finished"

{{ end -}}