#!/usr/bin/env bash
# -*- mode:bash; tab-with=2; indent-tabs-mode=0; -*-
# vim:ft=bash

{{ if eq .chezmoi.os "linux" }}
set -eufo pipefail

# flatpak/workplace.sh hash: {{ include "./dot_chezmoi/scripts/parameters/flatpak/workplace.sh" | sha256sum }}

# TODO: Do i really need those? This is commented
#{{ if (eq .chezmoi.arch "amd64") }}
#echo -e "\nInstalling FLATPAK Packages for workplace system"
# {{/* template "flatpak/workplace.sh" */}}
#{{ end }}

{{ end }}
