# -*- mode:toml; tab-with=2; indent-tabs-mode=0; -*-
# vim:ft=toml

# Alacritty Configuration File

# Fonte
[font]
  normal = { family = "MesloLGS Nerd Font", style = "Regular" }
  bold = { family = "MesloLGS Nerd Font", style = "Bold" }
  italic = { family = "MesloLGS Nerd Font", style = "Italic" }
  # Alacritty font is based in ddp
  # use   WINIT_X11_SCALE_FACTOR="2" to resolve it
{{- if eq .chezmoi.os "darwin" }}
{{- if (eq .chezmoi.arch "arm64") }}
  size = 15.0
{{- else }}
  size = 5.0
{{- end }}
{{- else if eq .chezmoi.os "linux" }}
  size = 5.0
{{- end }}


# Tamanho da janela
[window]
  padding = { x = 5, y = 0 }
  decorations = "full"
  dynamic_title = true
  option_as_alt = "Both"

# Variáveis de ambiente
[env]
  TERM = "xterm-256color"
  WINIT_X11_SCALE_FACTOR="2"

#[terminal]
#  [terminal.shell]
#  program = "tmux"

[general]
  live_config_reload = true

  import = [
    "~/.config/alacritty/colors.toml",
  ]
