# -*- mode:bash; tab-with=2; indent-tabs-mode=0; -*-
# vim:ft=bash

#!/bin/bash
{{ if eq .chezmoi.os "darwin" }}
set -eufo pipefail

# curl/darwin/amd64.sh hash: {{ include "./.chezmoitemplates/curl/darwin/amd64.sh" | sha256sum }}

# Exibir distribuição do sistema operacional
echo -e "\n\033[0;32mSystem $(uname -m). Installing using Curls\033[0m"

{{ if (eq .chezmoi.arch "amd64") }}
echo -e "\nInstalling via curl for am64 system"
{{ template "curl/darwin/amd64.sh" }}
{{ end }}

echo -e "\n\033[0;32mFinish Setting Up Macocks Packages\033[0m"

{{ end }}
