#!/bin/bash
{{ if eq .chezmoi.os "darwin" }}
# -*-mode:sh-*-  vim:ft=sh
# Config file for brew packages installation
set -e

# brew/amd64 hash: {{ include "./.chezmoitemplates/brew/amd64.sh" | sha256sum }}
# brew/arm hash: {{ include "./.chezmoitemplates/brew/arm.sh" | sha256sum }}
# brew/common hash: {{ include "./.chezmoitemplates/brew/common.sh" | sha256sum }}

# List of tap
tap=(
'homebrew/cask-fonts')

# List of brew
brew=()

# List of cask
cask=()

# Check if brew bin exist
brew_not_exists() {
  # Check if brew exist in amd64
  if [ -x "/usr/local/Homebrew/bin/brew" ]; then
    echo "\"/usr/local/Homebrew/bin/brew\" exist"
    return 1
  # Check if brew exist in arm
  elif [ -e "/opt/Homebrew/bin/brew" ]; then
    echo "\"/opt/Homebrew/bin/brew\" exist"
    return 1
  else
    echo "Brew does not exist"
    return 0
  fi
  return 0
}

# Install brew. It does not update if already installed
install_brew_on_mac() {
  echo "Installing Brew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
}

# Check if brew exist in machine
echo -e "\nChecking Brew Instalation"
if brew_not_exists ; then
  install_brew_on_mac
else
  echo -e "Skipping Brew Installation"
fi

# Install every tap on the tap list
for t in ${tap[@]}; do
  echo "installing $t"
  brew tap $t
done

# Install every tap on the tap list
echo -e "\nInstalling Brew common bundle package"
{{ template "brew/common.sh" }}

# Not fo machine
{{ if (eq .chezmoi.arch "amd64") }}
echo -e "\nInstalling Brew amd64 bundle package"
{{ template "brew/amd64.sh" }}
{{ end }}

# Not marooned machine
{{ if (eq .chezmoi.arch "arm") }}
echo -e "\nInstalling Brew arm bundle package"
{{ template "brew/arm.sh" }}
{{ end }}

echo -e "Brew Bundle finished"
{{ end }}
