{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -e


# List of tap
tap=(
'homebrew/cask-fonts'
)

# List of brew
brew=(
)

# List of cask
cask=(
)

brew_not_exists() {
  if [ -x "/usr/local/Homebrew/bin/brew" ]; then
    echo "\"/usr/local/Homebrew/bin/brew\" exist"
    return 1
  elif [ -e "/opt/Homebrew/bin/brew" ]; then
    echo "\"/opt/Homebrew/bin/brew\" exist"
    return 1
  else
    echo "Brew does not exist"
    return 0
  fi
  return 0
}

install_brew_on_mac() {
  echo "Installing Brew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
}

echo -e "\nChecking Brew Instalation"

if brew_not_exists ; then
  install_brew_on_mac
else
  echo -e "Skipping Brew Installation"
fi


for t in ${tap[@]}; do
  echo "installing $t"
{{   if ne .chezmoi.username "root" -}}
  sudo brew tap $t
{{   else -}}
  brew tap $t
{{   end -}}
done


echo -e "\nInstalling Brew basics bundle package"
brew bundle --no-lock --file=/dev/stdin <<EOF
brew 'mas'
#mas 'xcode', id: 497799835
brew 'bat'
brew 'btop'
brew 'chezmoi'
brew 'fluxctl'
brew 'gnupg'
brew 'gnu-sed'
brew 'htop'
brew 'ipcalc'
brew 'jq'
brew 'kubent'
brew 'neovim'
brew 'pwgen'
brew 'ripgrep'
brew 'telnet'
brew 'tmux'
brew 'tree'
brew 'watch'
brew 'zoxide'
cask 'caffeine'
cask 'flameshot'
cask 'font-hack-nerd-font'
cask 'iterm2'
cask 'rectangle'
cask 'spotify'
cask 'sublime-text'
cask 'the-unarchiver'
cask 'visual-studio-code'
vscode '4ops.terraform'
vscode 'ms-python.python'
vscode 'ms-ceintl.vscode-language-pack-pt-br'
vscode 'golang.go'
EOF

{{ if not (eq .chezmoi.username "fo097044") -}}
# not fo097044
echo -e "\nInstalling Brew full bundle package"
brew bundle --no-lock --file=/dev/stdin <<EOF
brew 'aws-vault'
brew 'awscli'
brew 'docker'
brew 'go'
brew 'helm'
brew 'ripgrep'
brew 'stern'
brew 'task'
cask 'brave-browser'
cask 'disk-inventory-x'
cask 'google-cloud-sdk'
cask 'smcfancontrol'
cask 'telegram-desktop'
cask 'zoom'
EOF
{{ end }}

{{- if not (eq .chezmoi.username "marooned") -}}
# not marooned
echo -e "\nInstalling Brew full bundle package"
brew bundle --no-lock --file=/dev/stdin <<EOF
brew 'aws-vault'
brew 'awscli'
brew 'docker'
brew 'eza'
brew 'go'
brew 'helm'
brew 'ripgrep'
brew 'stern'
brew 'task'
EOF
{{ end -}}

echo -e "Brew Bundle finished"
{{ end }}