#!/bin/bash
# -*- mode:bash; tab-with=2; indent-tabs-mode=0; -*-
# vim:ft=bash

{{ if eq .chezmoi.os "linux" }}
set -eufo pipefail

# snap/common.sh hash: {{ include "./.chezmoitemplates/snap/common.sh" | sha256sum }}
# snap/workplace.sh hash: {{ include "./.chezmoitemplates/snap/workplace.sh" | sha256sum }}

{{ if (eq .chezmoi.arch "amd64") }}
# TODO Snapd has error on arm
# server does not start
echo -e "\nInstalling Basics SNAP packges"
{{ template "snap/common.sh" }}

echo -e "\nInstalling SNAP Packages for workplace system"
{{ template "snap/workplace.sh" }}
{{ end }}

{{ end }}
