#!/usr/bin/env bash

{{- if (eq .chezmoi.os "darwin") }}
if ! command -v brew &> /dev/null; then
  echo "Homebrew não está instalado. Instale-o para continuar."
  exit 1
fi
echo "Instalando batcat via Homebrew..."
brew install bat

{{- else if (eq .chezmoi.os "linux") }}

echo "Instalando batcat via gerenciador de pacotes..."
{{- end }}
