#!/usr/bin/env bash

{{- if (eq .chezmoi.os "darwin") }}
if ! command -v brew &> /dev/null; then
  echo "Homebrew não está instalado. Instale-o para continuar."
  exit 1
fi
echo "Instalando kitty via Homebrew..."
brew install kitty
{{- else if (eq .chezmoi.os "linux") }}
echo "Instalando kitty via curl..."
curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin
ln -sf ~/.local/kitty.app/bin/kitty ~/.local/kitty.app/bin/kitten ~/.local/bin/
{{- end }}
